<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../assets/logo/foodmap-icon.png">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <title>Foodmap</title>
  </head>
  <body>
    <div class="navbar-fixed nav-custom-height">
      <nav class="nav-custom-height">
        <div class="nav-wrapper white nav-custom-height">
          <a href="home.html">
            <img src="../assets/logo/foodmap-logo.svg" class="brand-logo center logo-custom-height">
          </a>
        </div>
      </nav>
    </div>
    <main>
      <section class="section container nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </section>
    </main>
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>