<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../assets/logo/foodmap-icon.png">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <title>Foodmap</title>
  </head>
  <body>
    <header class="navbar-fixed nav-custom-height">
      <nav class="nav-custom-height">
        <div class="nav-wrapper white nav-custom-height">
          <a href="home.html">
            <img src="../assets/logo/foodmap-logo.svg" class="brand-logo center logo-custom-height">
          </a>
        </div>
      </nav>
    </header>
    <main>
      <section class="background-img">
        <div class="section container">
          <div class="section container">
            <p class="bold-text white-text center-align">ENCUENTRA EL RESTAURANTE PERFECTO CERCA DE TI</p>
          </div>
          <div class="section container nav-wrapper">
            <form id="restaurant-search" class="search-form" autocomplete="off">
              <div class="input-field">
                <input class="white-text" type="search" placeholder="¿Qué se te antoja hoy?">
                <label class="label-icon" for="restaurant-search">
                <i class="material-icons white-text">search</i>
                </label>
              </div>
            </form>
          </div>
        </div>      
      </section>  
      <section class="section container row" id="restaurant-section"></section>
      <section>
        <div id="restaurant-modal" class="modal">
        </div>
      </section>
    </main>
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="../js/materialize.js"></script>
    <!--Data-->
    <script src="../js/database.js"></script>
    <!--DOM-->
    <script src="../js/home.js"></script>
  </body>
</html>