body {
  margin: 0%;
}

.colorful-background {
  height: 100vh;
  width: 100%;
  animation: colorize 1s ease-in-out 0s 1;
}

.logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 2s ease-in 0s 1;
}

@keyframes colorize {
  0% {
    background-color: #FF8A7A;
  }
  50% {
    background-color: #92DAC9;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes appear {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}